.section{
  padding-top: 40px;
  padding-bottom: 40px;
}

.main-heading{
  color: #92469c;
  font-size: 26px;
}
#vali{

  font-size: .7rem;
}
.underline{
  height:04px;
  width: 4rem;
  background-color: #a678ca;
  margin-top: 10px;
  margin-bottom: 10px;
}

.underlineVmc{
  height: 04px;
  width: 20rem;
  background-color: #a678ca;
  margin-top: 10px;
  margin-bottom: 10px;
}
.bt{
  background-color:#92469c;
}
.bg-c-light{
  background-color: #f2f2f2;
}

.footer a {
  color: #fff;
  text-decoration: none !important;
}
.footer a:hover {
  color: gray;
}
.form{
  display: block;
}
#select{
  width: 100%;
  padding: 6px;
}